/* GALANG, GONZALES */
* {
	
}

body{
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/77c3c76f-ded1-4105-b168-383826197f62/depkin8-a0e1b52c-d733-4f01-945b-be9b82e17877.jpg/v1/fill/w_1280,h_2027,q_75,strp/the_knapford_station_thomas_the_tank_engine_by_pikkolapungu_depkin8-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjAyNyIsInBhdGgiOiJcL2ZcLzc3YzNjNzZmLWRlZDEtNDEwNS1iMTY4LTM4MzgyNjE5N2Y2MlwvZGVwa2luOC1hMGUxYjUyYy1kNzMzLTRmMDEtOTQ1Yi1iZTliODJlMTc4NzcuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.0aYg-E1X0Yv_EBUOqnsB76_PcZvzPOqzRx54KMLftO8);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Merriweather", serif;
  	font-optical-sizing: auto;
 	font-weight: <weight>;
  	font-style: normal;
  	font-variation-settings:
    	"wdth" 100;
}

nav {
	background-color: #1F67A2;
}

img {
	width: 3%;
}

h1 {
	text-align: center;
}

summary {
	font-size: 20px;
}

p {
	font-size: 18px;
}

label {
	font-size: 20px;
}

a {
	color: #F6F7F8;
	text-decoloration: none;
	text-decoration: none;
}

footer {
	background-color: #1F67A2;
	color: #F6F7F8;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px;
	text-align: center
}

.container {
	text-align: center;
	background-color: #F6F7F8;
	color: #1F67A2;
	text-align: center;
}

.ticket {
	width: 100%;
}
